@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f0f0f0;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #f0f0f0;
		--foreground: #0e0f19;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {

	.heading {
		@apply uppercase px-4 py-2 tracking-tighter font-extrabold text-whiteBg md:text-[80px] sm:leading-[64px] sm:text-[64px] text-[40px] leading-[46px] max-w-5xl text-center my-5;
	}

	.sub-heading {
		@apply font-medium text-[12px] sm:text-[18px] text-white max-w-2xl text-center break-words;
	}

	.sub-heading-post {
		@apply font-medium text-[14px] sm:text-[18px] text-white max-w-5xl text-center break-words;
	}

	.heading-post {
		@apply uppercase px-4 py-2 tracking-tighter font-bold text-whiteBg md:text-[70px] sm:leading-[64px] sm:text-[54px] text-[35px] leading-[46px] max-w-7xl text-center my-5;
	}

	.hero_container {
		@apply w-full bg-primary md:min-h-[400px] min-h-[320px] flex justify-center items-center flex-col md:py-10 py-3 px-3 rounded-lg;
	}

	.pattern {
		background-image: radial-gradient(
			circle,
			rgba(93, 173, 226, 0.2) 10%,
			transparent 5%
		);
		background-size:
			45px 45px,
			20px 20px,
			20px 20px;
		background-position:
			75px 75px,
			50px 50px,
			25px 25px;
		background-repeat: repeat;
	}

	.search-form {
		@apply max-w-lg w-full min-h-[60px] bg-white border-[4px] border-tertiary rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
	}

	.search-input {
		@apply flex-1 text-lg font-normal placeholder:font-normal placeholder:text-black placeholder:text-base placeholder:text-opacity-50 w-full h-auto outline-none;
	}

	.search-btn {
		@apply size-[35px] rounded-full bg-primary flex justify-center items-center !important;
	}

	.section_container {
		@apply px-6 py-10 max-w-full;
	}

	.post-container {
		@apply;
	}

	.no-result {
		@apply text-black text-sm font-normal;
	}

	.avatar {
		@apply rounded-full w-12 h-12;
	}

	.item-card {
		@apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-md hover:border-primary transition-all duration-500 hover:shadow-lg hover:bg-[#b9e3ff];
	}

	.item-card_date {
		@apply font-medium text-[16px] bg-[#B9E3FF] px-4 py-2 rounded-full group-hover:bg-secondary group-hover:text-white;
	}

	.item-card_desc {
		@apply font-normal text-[16px] line-clamp-2 my-3 text-black break-all;
	}

	.item-card_img {
		@apply w-full h-[164px] rounded-[10px] object-cover;
	}

	.item-card_btn {
		@apply rounded-full bg-black font-medium text-[16px] text-white px-5 py-3 !important;
	}

	.item-card_skeleton {
		@apply w-full h-96 rounded-[22px] bg-zinc-400;
	}

	.card_grid {
		@apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
	}

	.card_grid-sm {
		@apply grid sm:grid-cols-2 gap-5;
	}

	.content-form {
		@apply max-w-3xl px-10 py-16 mx-4 border-4 border-primary rounded-lg sm:mx-auto  my-10 space-y-8;
	}

	.content-form_label {
		@apply font-bold text-[18px] text-black uppercase;
	}

	.content-form_input {
		@apply border-[3px] border-primary px-5 py-7 text-[18px] text-black font-medium rounded-lg mt-3 placeholder:text-black placeholder:text-opacity-50 focus-within:border-secondary !important;
	}

	.category-style {
		@apply px-4 py-2 bg-primary rounded-lg text-white font-medium text-sm mx-1;
	}

	.hide-scroll {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.hide-scroll::-webkit-scrollbar {
		display: none;
	}

	.content-form_textarea {
		@apply border-[3px] border-primary p-5 text-[18px] text-black font-medium rounded-lg mt-3 placeholder:text-black placeholder:text-opacity-50 focus-within:border-secondary !important;
	}

	.content-form_error {
		@apply text-red-500 mt-2 ml-5;
	}

	.content-form_editor {
		@apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 !important;
	}

	.content-form_btn {
		@apply bg-primary border-[4px] border-black uppercase rounded-lg p-5 min-h-[60px] w-full text-white font-bold text-[18px] hover:text-primary hover:bg-secondary !important;
	}

	.profile_container {
		@apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
	}

	.profile_card {
		@apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-lg rounded-[30px] relative z-0 h-fit max-lg:w-full;
	}

	.profile_title {
		@apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-md;
	}

	.profile_image {
		@apply rounded-full object-cover border-[3px] border-black;
	}


}
